.profile-image {
	width:15%;
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.skill {
	width:7%;
}

.skill-set {
	margin-top: 20px;
}

.experience {
	margin-top: 20px;
}

.education {
	margin-top: 20px;
	margin-bottom: 20px;
}
