<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Dnyaneshwar's Portfolio</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Dnyaneshwar Ingale">
    
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/portfolio.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/all.css}" />
</head>
<body>
	<div class="container">
		<div class="intro">
			<img class="profile-image" th:src="@{/images/profile-image.jpg}" alt="Avatar">
			<h1 class="display-1 text-center" th:text="'Dnyaneshwar Ingale'"></h1>
			<h1 class="display-6 text-center">Java | Spring Boot | VMWare SMARTS | Telecom OSS Service Assurance</h1>
		</div>
		
		<div class="skill-set">
			<div class="row row-cols-1 row-cols-md-4 g-4">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Java</h5>
							<p class="card-text">Relevant Experience of 8 years</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Spring Boot</h5>
							<p class="card-text">Relevant Experience of 3 years</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">VMWare SMARTS</h5>
							<p class="card-text">Relevant Experience of 7 years</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Shell/Perl Scripting</h5>
							<p class="card-text">Relevant Experience of 6 years</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end : Skill Sets -->
		
		<div class="experience">
			<h1 class="display-6">Experience</h1>
			
			<!-- start : item-prodapt -->
			<div class="row">
				<div class="col-auto text-center flex-column d-none d-sm-flex">
					<div class="row h-50">
						<div class="col">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
					<h5 class="m-2">
						<span class="badge rounded-circle bg-success border-success">&nbsp;</span>
					</h5>
					<div class="row h-50">
						<div class="col border-end">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
				</div>
				<div class="col py-2">
					<div class="card border-success shadow">
						<div class="card-body">
							<div class="float-end">Feb 2021 - Present</div>
							<h4 class="card-title text-muted">Prodapt</h4>
							<p class="card-text text-muted">Technical Lead</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end : item-prodapt -->
			
			<!-- start : item-virtusa -->
			<div class="row">
				<div class="col-auto text-center flex-column d-none d-sm-flex">
					<div class="row h-50">
						<div class="col border-end">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
					<h5 class="m-2">
						<span class="badge rounded-circle bg-light border">&nbsp;</span>
					</h5>
					<div class="row h-50">
						<div class="col border-end">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
				</div>
				<div class="col py-2">
					<div class="card">
						<div class="card-body">
							<div class="float-end">Aug 2018 - Feb 2021</div>
							<h4 class="card-title text-muted">Virtusa</h4>
							<p class="card-text text-muted">Senior Consultant</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end : item-virtusa -->
			
			<!-- start : item-harman -->
			<div class="row">
				<div class="col-auto text-center flex-column d-none d-sm-flex">
					<div class="row h-50">
						<div class="col border-end">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
					<h5 class="m-2">
						<span class="badge rounded-circle bg-light border">&nbsp;</span>
					</h5>
					<div class="row h-50">
						<div class="col border-end">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
				</div>
				<div class="col py-2">
					<div class="card">
						<div class="card-body">
							<div class="float-end">Sep 2014 - Aug 2018</div>
							<h4 class="card-title text-muted">Harman</h4>
							<p class="card-text text-muted">Senior Engineer - Software Product Development</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end : item-harman -->
			
			<!-- start : item-intelogix -->
			<div class="row">
				<div class="col-auto text-center flex-column d-none d-sm-flex">
					<div class="row h-50">
						<div class="col border-end">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
					<h5 class="m-2">
						<span class="badge rounded-circle bg-light border">&nbsp;</span>
					</h5>
					<div class="row h-50">
						<div class="col">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
				</div>
				<div class="col py-2">
					<div class="card">
						<div class="card-body">
							<div class="float-end">Apr 2013 - Sep 2014</div>
							<h4 class="card-title text-muted">Intelogix Labs</h4>
							<p class="card-text text-muted">Software Engineer</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end : item-intlogix -->
			
		</div>
		<!-- end : experience -->
		
		<div class="education">
			<h1 class="display-6">Education</h1>
			
			<!-- start : item-jtm -->
			<div class="row">
				<div class="col-auto text-center flex-column d-none d-sm-flex">
					<div class="row h-50">
						<div class="col">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
					<h5 class="m-2">
						<span class="badge rounded-circle bg-light border">&nbsp;</span>
					</h5>
					<div class="row h-50">
						<div class="col border-end">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
				</div>
				<div class="col py-2">
					<div class="card">
						<div class="card-body">
							<div class="float-end">Aug 2005 - May 2012</div>
							<h4 class="card-title text-muted">J.T. Mahajan College of Engineering</h4>
							<p class="card-text text-muted">Computer Engineering</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end : item-jtm -->
			
			<!-- start : item-psms -->
			<div class="row">
				<div class="col-auto text-center flex-column d-none d-sm-flex">
					<div class="row h-50">
						<div class="col border-end">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
					<h5 class="m-2">
						<span class="badge rounded-circle bg-light border">&nbsp;</span>
					</h5>
					<div class="row h-50">
						<div class="col border-end">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
				</div>
				<div class="col py-2">
					<div class="card">
						<div class="card-body">
							<div class="float-end">Jun 2003 - Feb 2005</div>
							<h4 class="card-title text-muted">P. S. M. Junior College</h4>
							<p class="card-text text-muted">Higher Secondary Certificate</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end : item-psms -->
			
			<!-- start : item-sbs -->
			<div class="row">
				<div class="col-auto text-center flex-column d-none d-sm-flex">
					<div class="row h-50">
						<div class="col border-end">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
					<h5 class="m-2">
						<span class="badge rounded-circle bg-light border">&nbsp;</span>
					</h5>
					<div class="row h-50">
						<div class="col">&nbsp;</div>
						<div class="col">&nbsp;</div>
					</div>
				</div>
				<div class="col py-2">
					<div class="card">
						<div class="card-body">
							<div class="float-end">Jun 2002 - Mar 2003</div>
							<h4 class="card-title text-muted">S. B. S. High School</h4>
							<p class="card-text text-muted">Secondary School Certificate</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end : item-sbs -->
			
		</div>
		<!-- end : education -->
	</div>
    
	<div class="card-footer text-muted text-center">
		<a href="https://www.linkedin.com/in/dnyaneshwar-ingale-4a77032b" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
		<a href="https://twitter.com/DnyanIngale" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
		<a href="https://www.facebook.com/deepak.ingale1986" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
		<a href="mailto:dnyaneshwar.ingale@yahoo.in"><i class="fas fa-envelope-square fa-2x"></i></a>
	</div>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/font-awesome/5.15.2/js/all.js}"></script>
</body>
</html>
